/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  // margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    // margin: 5px;
    padding: 4px 7px;
    // background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      // background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  // margin-top: 10px; 
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      // width: 10px;
      // height: 10px;
      // margin: 5px 7px;
      // background: #D6D6D6;
      // display: block;
      // -webkit-backface-visibility: visible;
      // transition: opacity 200ms ease;
      // border-radius: 30px; 
      position: relative;

      display: block;
      width: 22px;
      height: 22px;

      font-size: 0;


      &::before {
        position: absolute;
        content: "";
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        z-index: 2;

        width: 6px;
        height: 6px;

        background-color: #bec2c7;
        border-radius: 50%;

        transition: background-color ease 0.3s;
      }

      &:hover::before, &:focus::before {
        background-color: #7e868f;
      }

      &::after {
        position: absolute;
        content: "";

        top: calc(50% - 6px);
        left: calc(50% - 6px);

        width: 12px;
        height: 12px;

        background-color: #283645;
        border-radius: 50%;
        opacity: 0;

        transition: opacity ease 0.3s;
      }
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:active span {
      // background: #869791; 
      

      &::before {
        background-color: #fff;
      }
    
      &::after {
        opacity: 1;
      }
    
    }

    .owl-dot {
      outline: 0;
    }

    .owl-dots {
      margin-top: 40px;
    }

    // .owl-nav {
    //   display: none;
    // }


    @media #{$desktop-width} {

      // .owl-dots {
      //   display: none;
      // }

      .owl-nav {
        position: absolute;
        top: 148px;

        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 0;
      }

      .owl-carousel .owl-nav button.owl-prev,
      .owl-carousel .owl-nav button.owl-next {
        width: 22px;
        height: 41px;

        border-radius: 0;
      }

      .owl-carousel .owl-nav button.owl-prev {
        background-image: url("../../../img/icon-review-arrow-left.svg");
      }

      .owl-carousel .owl-nav button.owl-next {
        background-image: url("../../../img/icon-review-arrow-right.svg");
      }

    }