.contacts {
  padding-top: 50px;
}

.contacts__wrapper {
  @include container;
}

.contacts__intro {
  margin-bottom: 40px;

  font-family: "os-300";
  font-size: 24px;
  text-align: center;
}

.contacts__list {
  margin-bottom: 40px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__title {
  margin-bottom: 5px;

  font-family: "os-700";
  font-size: 18px;
  text-align: center;
}

.contacts__description {
  font-family: "os-300";
  font-size: 24px;
  color: #d22856;
  text-align: center;

  border-bottom: 2px solid transparent;

  transition: border-bottom ease 0.3s, color ease 0.3s;

  &:hover, &:focus {
    color: #283645;
  }

  &--mail:hover, &--mail:focus {
    border-color:#283645;
  }

  &:active {
    color: #bec2c7;

    border-color: transparent;
  }
}

.contacts__map {
  height: 200px;

  background-image: 
  url("../../img/icon-map-marker.svg"),
  url("../../img/bg-triangle-white-footer.svg"),
  url("../../img/bg-map-tablet@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 100px, 50% -1px, 50% 69%;
  background-size: auto, 100%, auto;


}

@media #{$tablet-width} {

  .contacts {
    padding-top: 56px;
  }

  .contacts__intro {
    margin-bottom: 55px;

    font-size: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 27px;
  }

  .contacts__item {
    margin-bottom: 50px;

    &:last-child {
      width: 100%;
    }
  }

  .contacts__title {
    margin-bottom: 7px;
  }

  .contacts__map {
    height: 378px;

    background-image: 
    url("../../img/icon-map-marker.svg"),
    url("../../img/bg-triangle-white-footer.svg"),
    url("../../img/bg-map-desktop@1x.jpg");
    background-position: 50% 200px, 50% -1px, 50% 57%;
  }
}

@media #{$desktop-width} {

  .contacts {
    padding-top: 75px;
  }

  .contacts__intro {
    margin-bottom: 65px;

    font-size: 50px;
  }

  .contacts__list {
    margin-bottom: 24 px;
  }

  .contacts__title {
    margin-bottom: 16px;
  }

  .contacts__item {
    margin-bottom: 0;

    &:last-child {
      width: auto;     
    }

    &:nth-child(2) {
      order: 3;
    }
  }

  .contacts__map {
    height: 502px;

    background-image: 
    url("../../img/icon-map-marker.svg"),
    url("../../img/bg-triangle-white-footer.svg"),
    url("../../img/bg-map-desktop@1x.jpg");
    background-position: 50% calc(61% +  30px), 50% -1px, 50% 50%;
    background-size: auto, 100%, cover;
  }


}