.downloads {
  padding-top: 28px;
  padding-bottom: 35px;
}

.downloads__main-link {
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.downloads__os-links {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
}

.downloads__text {
  max-width: 230px;
  margin: 0 auto;

  font-family: "os-300";
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

@media #{$tablet-width} {

  .downloads__main-link {
    max-width: 300px;
    margin-bottom: 46px;
  }

  .downloads__os-links {
    max-width: 1000px;
    margin-bottom: 41px;
  }

  .downloads__text {
    max-width: 350px;
    margin: 0 auto;
    padding: 0;

    font-size: 18px;
  }
}

@media #{$desktop-width} {

  .downloads__main-link {
    margin-bottom: 67px;
  }

  .downloads__os-links {
    margin-bottom: 60px;
  }
}
