.features__intro-wrapper {
  @include container();
}

.features__list-wrapper {
  @include container();
  padding-top: 55px;
  padding-bottom: 325px;

  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 43px);
}

.features__slope-wrapper {
  @include gray-block-top-slope;
}

.features__intro {
  padding-top: 46px;
  padding-bottom: 38px;

  background-color: #fff;
}

.features__intro-text {
  margin-right: auto;
  margin-left: auto;

  font-family: "os-300";
  font-size: 24px;
  color: #283645;
  text-align: center;

  &--question {
  margin-bottom: 30px;
  }

  &--answer {
  max-width: 300px;
  }
}

.features__item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__title {
  max-width: 460px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

  font-family: "os-700";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.features__description {
  max-width: 460px;
  margin-right: auto;
  margin-left: auto;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.features__research {
  display: none;
}

@media #{$tablet-width} {

  .features__intro {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .features__intro-text {
    font-size: 40px;

    &--question {
    margin-bottom: 0;
    }

    &--answer {
      max-width: 550px;
    }
  }

  .features__list-wrapper {
    position: relative;
    margin-top: -48px;

    padding-top: 75px;
    padding-bottom: 45px;
    min-height: 482px;

    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: calc(25% - 67px) 100%;
  }


  .features__item {
    width: 50%;
    margin-left: 50%;
  }

  .features__title {
    max-width: 390px;
    margin-right: 0;
    margin-left: 0;
    
    text-align: left;
  }

  .features__description {
    max-width: 390px;
    margin-right: 0;
    margin-left: 0;

    text-align: left;
  }

  .features__research {
    display: block;
    padding-top: 59px;
    padding-bottom: 59px;

    background-color: #fff;
  }

  .features__research-wrapper {
    @include container;

    min-height: 276px;
    padding-top: 40px;
    
    background-image: url("../../img/icon-timer.svg");
    background-size: auto 276px;
    background-repeat: no-repeat;
    background-position: calc(25% - 75px) 0;
  }

  .features__research-title {
    width: 50%;
    max-width: 390px;
    margin-left: 50%;
    margin-bottom: 10px;

    font-family: "os-700";
    font-size: 30px;
    line-height: 36px;
  }

  .features__research-description {
    width: 50%;
    max-width: 390px;
    margin-left: 50%;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .features__research-link {
    display: block;
    width: 50%;
    max-width: 390px;
    margin-left: 50%;

    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration: underline;
  }
}

@media #{$desktop-width} {

  .features__intro {
    padding-top: 78px;
    padding-bottom: 80px;
  }

  .features__intro-text {
    font-size: 50px;
  }

  .features__list-wrapper {
    min-height: 570px;
    padding-top: 0;
    margin-top: -95px;

    background-image: none;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .features__item {
    position: relative;

    width: 300px;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 358px;
    padding-right: 30px;
    padding-left: 30px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      position: absolute;

      content: '';
      width: 300px;
      height: 304px;
      top: 0;
      left: 0;
    }

    &:nth-child(1)::before {
      background: url("../../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 0%;
    }

    &:nth-child(2)::before {
      background: url("../../img/iphone-screen-2-desktop@1x.png") no-repeat 50% 0%;
    }

    &:nth-child(3)::before {
      background: url("../../img/iphone-screen-3-desktop@1x.png") no-repeat 50% 0%;
    }

  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features__research {
    padding-top: 29px;
    padding-bottom: 67px;

    background-color: #f2f2f2;
  }

  .features__research-wrapper {
    min-height: 345px;
    padding-top: 95px;
    
    background-size: auto 345px;
    background-position: 40px 0;
  }

  .features__research-title {
    width: 570px;
    max-width: none;
    margin-left: auto;
    margin-bottom: 25px;
    max-width: none;

    line-height: 30px;

    br {
      display: none;
    }
  }

  .features__research-description {
    width: 570px;
    max-width: none;
    margin-left: auto;
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 30px;
  }

  .features__research-link {
    width: 570px;
    max-width: none;
    margin-left: auto;

    font-size: 18px;
    line-height: 30px;
  }
    
}