.gallery__list-wrapper {
  @include container;
}

.gallery__panorama {
  margin-bottom: 20px;
}

.gallery__text {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 18px;
  padding-bottom: 50px;
  padding-left: 18px;

  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.gallery__item {
  margin-bottom: 20px;
}


@media #{$tablet-width} {

  .gallery__text {
    max-width: 780px;
    padding-top: 100px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-left: 70px;

    font-size: 18px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 48.3896%;
    margin-right: auto;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

}

@media #{$desktop-width} {
  .gallery__text {
    padding-bottom: 92px;

    font-size: 18px;
  }
}