.main-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  @include paddings;

  background-color: #283645;
  box-shadow: inset 0px -1px 0 0 #000000;
  
  transition: background-color ease 0.5s;
}

.main-nav__logo-block {
  width: 75px;
  height: 22px;
}

.main-nav__logo {
  display: none;

  &--mobile {
    display: block;
  }
}

.main-nav__burger {
  width: 50px;
  height: 24px;

  font-size: 0;

  transition: background-image ease 0.3s;
}

.main-nav--closed  .main-nav__burger {
  background: transparent url("../../img/icon-menu-burger.svg") no-repeat 100% 50%;
}

.main-nav--opened  .main-nav__burger {
  background: transparent url("../../img/icon-menu-cross.svg") no-repeat 100% 0;
}

.main-nav__list {
  transition:
  opacity ease 0.5s,
  max-height ease 0.2s;
}

.main-nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  @include paddings;

  font-family: "os-700";
  font-size: 18px;
  line-height: 32px;
  color: #fff;

  background-color: #283645;
  box-shadow: 
  inset 0px -1px 0 0 #000000, 
  inset 0px 1px 0 0 #485461;

  text-transform: uppercase;

  transition: color ease 0.3s, border-color ease 0.3s;

  &:hover, &:focus {
    color: #d22856;
  }

  &:active {
    color: #5d354e;
  }
}

@media #{$mobile-and-tablet-only} {

  .main-nav--closed {

    .main-nav__header {
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: none;
    }

    .main-nav__list {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }

  }

  .main-nav--opened {

    .main-nav__list {
      max-height: 1000px;
      opacity: 1;
    }
  }

  .main-nav--nojs {

    .main-nav__burger {
      display: none;
    }
    
    .main-nav__list {
      max-height: 1000px;
      overflow: visible;
      opacity: 1;
    }

    .main-nav__header {
      background-color: #283645;
      box-shadow: inset 0px -1px 0 0 #000000;
    }
  }
} 

@media #{$tablet-width} {

  .main-nav__header {
    min-height: 110px;
  }

  .main-nav__logo-block {
    width: 147px;
    height: 58px;
  }

  .main-nav__logo {
    display: none;
  
    &--tablet {
      display: block;
    }
  }

}

@media #{$desktop-width} {
  .main-nav {
    min-height: 110px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;

    @include container;
  }

  .main-nav__burger {
    display: none;
  }  

  .main-nav__header {
    display: block;
    min-height: 0;
    padding: 0;

    background: none;
    box-shadow: none;

    transition: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 21px;
  }

  .main-nav__logo-block {
    margin-right: 100px;
  }

  .main-nav__logo {
    display: none;
  
    &--desktop {
      display: block;
    }

    path {   
      transition: all ease 0.3s;
    }
  
    &:hover, &:focus {
      
      path {
        fill: #d22856;
      }
    } 
  
    &:active {
      
      path {
        fill: #ffffff;
        opacity: 0.3;
      }
    } 
  }

  .main-nav__item {
    margin-right: 83px;
    margin-bottom: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__item {

    a {
      display: block;
      min-height: 0;
      padding: 0;
      padding-bottom: 10px;

      font-family: "os-400";
      font-size: 18px;
      line-height: 18px;
      text-transform: none;

      background: 0;
      border-bottom: 2px solid transparent;
      box-shadow: none;
    
      &:hover, &:focus {
        color: #d22856;
      }
    
      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &--active a {
      border-color: #fff;

      &:hover, &:focus {
        border-color: #d22856;
      }
    
      &:active {
        border-color: rgba(255, 255, 255, 0.3);
      }
    }
    
  }
}
