.os-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 38px;
  padding-left: 38px;
}

.os-links__item {
  margin-right: 34px;
}

.os-links__item a {
  display: block;

  font-size: 0;
}

.os-links__item {
  &--apple a {
    width: 47px;
    height: 56px;
    background: url("../../img/logo-apple.svg") no-repeat 50% 50%;
  }

  &--android a {
    width: 43px;
    height: 56px;
    background: url("../../img/logo-android.svg") no-repeat 50% 50%;
  }

  &--windows a {
    width: 44px;
    height: 56px;
    background: url("../../img/logo-microsoft.svg") no-repeat 50% 50%;
  }
}

.os-links__item:last-child {
  margin-right: 0;
}

@media #{$tablet-width} {

  .os-links {
    justify-content: center;
  }
}
