.page-header {
  background-color: #1d2631;
}

.page-header__main-nav {
  position: relative;
  z-index: 2;
}

.page-header__content {
  position: relative;
  z-index: 1;

  min-height: 462px;
  padding-top: 100px;
  margin-top: -69px;

  background: 
  url("../../img/iphone-hand-mobile@1x.png") no-repeat calc(50% - 32px) 176px,
  url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
  background-size: auto, auto 462px;

  &--inner-page {
    min-height: 237px;

    background: url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: auto 462px;
  }
}

.page-header__wrapper {
  @include container;
}

.page-header__slogan {
  min-height: 362px;

  font-family: "os-300";
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.page-header__heading {
  font-family: "os-300";
  font-size: 24px;
  color: white;
  text-align: center;
}

@media #{$tablet-width} {

  .page-header__content {
    min-height: 729px;
    margin-top: -110px;
    padding-top: 212px;

    background: 
    url("../../img/iphone-hand-tablet@1x.png") no-repeat 75% 184px,
    url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: auto, auto 729px;

    &--inner-page {
      min-height: 440px;
      padding-top: 190px;
  
      background: url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
      background-size: auto 729px;
    }
  }

  .page-header__content-column {
    width: 48.5%;
  }

  .page-header__slogan {
    max-width: 240px;
    min-height: 138px;
    margin: 0 auto;
    margin-bottom: 11px;

    font-size: 40px;
  }

  .page-header__heading {
    font-size: 50px;
  }
}

@media #{$desktop-width} {

  .page-header__content {
    min-height: 853px;
    margin-top: -110px;
    padding-top: 229px;

    background: 
    url("../../img/iphone-hand-desktop@1x.png") no-repeat calc(50% + 70px) 100%,
    url("../../img/bg-back-desktop@1x.jpg") no-repeat 50% 50%;
    background-size: auto, cover;

    &--inner-page {
      min-height: 394px;
      padding-top: 180px;
  
      background: url("../../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
      background-size: auto;
    }
  }

  .page-header__slogan {

    margin-bottom: 33px;

    font-size: 50px;
  }
}