.page-footer {
  display: none;
}


@media #{$tablet-width} {

  .page-footer {
  display: block;
  min-height: 127px;
  padding-top: 36px;
  padding-bottom: 36px;
  }

  .page-footer__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-block {
    width: 147px;
    height: 60px;
  }

  .page-footer__logo {
    display: none;
  
    &--tablet {
      display: block;
    }

  }

  .page-footer__developer {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 18px;
    color: #283645;
    
    svg {
      margin-left: 15px;
    }

  }

}

@media #{$desktop-width} {

  .page-footer {
    min-height: 197px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .page-footer__logo {
    display: none;
  
    &--desktop {
      display: block;
    }

    &:hover, &:focus {
    
      path {
        fill: #d22856;
      }
    } 
  
    &:active {
      
      path {
        opacity: 0.3;
      }
    }

    path {   
      transition: all ease 0.3s;
    }
    
  }

  .page-footer__developer {
    font-size: 18px;

    &:hover, &:focus {

      path {
        fill: #000000;
      }
    }

    &:active {

      path {
        opacity: 0.3;
      }
    }

    path {   
      transition: all ease 0.3s;
    }
  }

}