.post {

  img {
    width: 100%;
    height: auto;
  }

  &__image {
    font-size: 0;
  }

  &--panorama {

    .post__text-content-wrapper {
      @include container;
    }

  }

}

.post__author {
  font-family: "os-700";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.post__date {
  font-family: "os-300";
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.post__message {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.post__text-content {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 17px;

  background-color: #f2f2f2;

  blockquote {
  margin: 0;
  margin-bottom: 15px;
  }
}

.post__likes {
  display: flex;
  align-items: center;
}

.post__like-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

.post__like-button {
  width: 13px;
  height: 15px;
  margin-right: 25px;
  
  background: url(../../img/icon-heart.svg) no-repeat 50% 0;
}

@media #{$tablet-width} {
  .post__text-content {
    display: flex;
    flex-direction: column;
  }

  .post__likes {
    margin-top: auto;
  }

}

// @media #{$desktop-width} {




// }