
.price__slope-wrapper {
  @include gray-block-top-slope;
}

.price__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 65px;
  padding-bottom: 99px;

  overflow: hidden;
}

.price__table {
  border-collapse: collapse;

  transition: transform 0.5s ease;
}

.price__header {
  position: relative;

  min-width: 87.5vw;
  max-width: 87.5vw;
  height: 98px;
  padding-right: 40px;
  padding-left: 40px;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  overflow: hidden;

  &--empty {
    display: none;
    background-color: transparent;
    border: none;
  }

  &--hit {
    z-index: 10;
  }

  &--hit::before {
    position: absolute;

    content: "ХИТ";
    width: 102px;
    height: 29px;
    padding-top: 4px;
    top: 9px;
    left: -27px;
    
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: center;

    background-color: #d22856;

    transform: rotate(-45deg);
  }
}

.price__title {
  font-family: "os-700";
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.price__ammount {
  font-family: "os-300";
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.price__data-wrapper {
  display: flex;
  justify-content: space-between;
}

.price__data {
  height: 61px;
  padding-left: 2.6%;
  padding-right: 2.2%;

  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-top: none;

  &--option {
    display: none;
  }
}

.price__option {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}

.price__value {
  width: 31px;
  height: 26px;
  
  font-size: 0;

  &--yes {
    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 31px auto;
  }

  &--no {
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 27px auto;
  }
}

// SLIDER

@media #{$mobile-only} {

  .price__input[id="price-input-1"]:checked ~ .price__table {
    transform: translateX(33.3%);
  }

  .price__input[id="price-input-2"]:checked ~ .price__table {
    transform: translateX(0);
  }

  .price__input[id="price-input-3"]:checked ~ .price__table {
    transform: translateX(-33.3%);
  }
}

.price__toggles {
  position: absolute;
  bottom: 42px;
  left: calc(50% - 33px);

  display: flex;
}

.price__toggle {
  position: relative;

  display: block;
  width: 22px;
  height: 22px;

  font-size: 0;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    z-index: 2;

    width: 6px;
    height: 6px;

    background-color: #bec2c7;
    border-radius: 50%;

    transition: background-color ease 0.3s;
  }

  &:hover::before, &:focus::before {
      background-color: #7e868f;
  }

  &::after {
    position: absolute;
    content: "";

    top: calc(50% - 6px);
    left: calc(50% - 6px);

    width: 12px;
    height: 12px;

    background-color: #283645;
    border-radius: 50%;
    opacity: 0;

    transition: opacity ease 0.3s;
  }
}

.price__input[id="price-input-1"]:checked ~ .price__toggles .price__toggle[for="price-input-1"],
.price__input[id="price-input-2"]:checked ~ .price__toggles .price__toggle[for="price-input-2"],
.price__input[id="price-input-3"]:checked ~ .price__toggles .price__toggle[for="price-input-3"] {
  &::before {
    background-color: #fff;
  }

  &::after {
    opacity: 1;
  }
}

@media #{$tablet-width} {

  .price__wrapper {
    @include container;
    padding-top: 35px;
    padding-bottom: 68px;
  }

  .price__toggles {
    display: none;
  }

  .price__table {
    width: 100%;
  }

  .price__option {
    display: none;
  }

  .price__header {
    width: 25%;
    min-width: 0;
    max-width: none;
    height: 79px;
    padding-right: 25px;
    padding-left: 40px;

    &--empty {
      display: table-cell;
    }
  }

  .price__title {
    font-size: 16px;
  }

  .price__ammount {
    font-size: 18px;
  }

  .price__data {
    height: 47px;
    padding: 0;

    &--option {
      display: table-cell;
      padding-right: 15px;
      padding-left: 15px;

      font-size: 14px;
      line-height: 30px;
      color: #283645;

      border-top: 2px solid #e5e5e5;
    }
  }

  .price__value {
    margin-right: auto;
    margin-left: auto;
  }
}

@media #{$desktop-width} {

  .price__wrapper {
    padding-top: 67px;
    padding-bottom: 95px;
  }

  .price__input {
    display: none;
  }

  .price__title {
    font-size: 18px;
  }

  .price__ammount {
    font-size: 24px;
  }

  .price__header {
    height: 94px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .price__data {
    height: 61px;

    &--option {
      padding-right: 24px;
      padding-left: 24px;

      font-size: 18px;
    }
  }

}