.reviews {
  padding-top: 40px;
  padding-bottom: 20px;
}

.reviews__wrapper {
  @include container;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  display: block;
  margin-bottom: 15px;

  font-family: "os-700";
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__author-info {
  display: none;
}

.reviews__message {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;

  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

@media #{$tablet-width} {

  .reviews__author-name {
    margin-bottom: 0;

    font-size: 20px;
  }

  .reviews__author-info {
    display: block;

    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
  }

  .reviews__message {
    order: -1;

    max-width: 700px;
    margin-bottom: 35px;

    font-size: 18px;
  }
}

@media #{$desktop-width} {

  .reviews {
    padding-top: 72px;
    padding-bottom: 30px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__message {
    position: relative;

    max-width: none;
    padding-top: 120px;
    padding-right: 100px;
    padding-left: 100px;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;

      content: "";
      width: 79px;
      height: 64px;

      background: url("../../img/icon-quotes.svg") no-repeat;
    }
  }
}