.social__list {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0; 
  }
}

.social__item {

  a {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;

  font-size: 0;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  transition: border-color ease 0.3s;

    &::before {
      position: absolute;
      left: -3px;
      top: -3px;

      content: "";

      width: 51px;
      height: 51px;

      background-repeat: no-repeat;
      background-position: 50% 50%;

      transition: opacity ease 0.3s;
    }

    &:hover, &:active {
      border-color: #283645;
    }

    &:active {
      border-color: #e9ebec;

      &::before {
        opacity: 0.3;
      }
    }
  }

  &--twitter a::before {
    background-image: url("../../img/icon-twitter.svg");
  }

  &--facebook a::before {
    background-image: url("../../img/icon-facebook.svg");
  }

  &--youtube a::before {
    background-image: url("../../img/icon-youtube.svg");
  }
}