@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:active {
  outline: none; }

a {
  text-decoration: none;
  cursor: pointer; }

p {
  margin: 0; }

b {
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  min-width: 320px;
  font-family: "os-400", Arial, sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.button--round_white {
  min-height: 55px;
  font-family: "os-700";
  font-size: 18px;
  line-height: 49px;
  color: #fff;
  border: solid 3px #fff;
  border-radius: 30px;
  -webkit-transition: background-color ease 0.3s, color ease 0.3s;
  transition: background-color ease 0.3s, color ease 0.3s; }
  .button--round_white:hover, .button--round_white:focus {
    color: #d22856;
    background-color: #fff; }
  .button--round_white:active {
    color: #f1becc; }

@font-face {
  font-family: "os-300";
  src: url("../../fonts/opensanslight.woff2") format("woff2"), url("../../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "os-400";
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "os-700";
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.page-header {
  background-color: #1d2631; }

.page-header__main-nav {
  position: relative;
  z-index: 2; }

.page-header__content {
  position: relative;
  z-index: 1;
  min-height: 462px;
  padding-top: 100px;
  margin-top: -69px;
  background: url("../../img/iphone-hand-mobile@1x.png") no-repeat calc(50% - 32px) 176px, url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
  background-size: auto, auto 462px; }
  .page-header__content--inner-page {
    min-height: 237px;
    background: url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: auto 462px; }

.page-header__wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .page-header__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .page-header__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.page-header__slogan {
  min-height: 362px;
  font-family: "os-300";
  font-size: 24px;
  color: #fff;
  text-align: center; }

.page-header__heading {
  font-family: "os-300";
  font-size: 24px;
  color: white;
  text-align: center; }

@media (min-width: 700px) {
  .page-header__content {
    min-height: 729px;
    margin-top: -110px;
    padding-top: 212px;
    background: url("../../img/iphone-hand-tablet@1x.png") no-repeat 75% 184px, url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
    background-size: auto, auto 729px; }
    .page-header__content--inner-page {
      min-height: 440px;
      padding-top: 190px;
      background: url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0%;
      background-size: auto 729px; }
  .page-header__content-column {
    width: 48.5%; }
  .page-header__slogan {
    max-width: 240px;
    min-height: 138px;
    margin: 0 auto;
    margin-bottom: 11px;
    font-size: 40px; }
  .page-header__heading {
    font-size: 50px; } }

@media (min-width: 1020px) {
  .page-header__content {
    min-height: 853px;
    margin-top: -110px;
    padding-top: 229px;
    background: url("../../img/iphone-hand-desktop@1x.png") no-repeat calc(50% + 70px) 100%, url("../../img/bg-back-desktop@1x.jpg") no-repeat 50% 50%;
    background-size: auto, cover; }
    .page-header__content--inner-page {
      min-height: 394px;
      padding-top: 180px;
      background: url("../../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
      background-size: auto; }
  .page-header__slogan {
    margin-bottom: 33px;
    font-size: 50px; } }

.main-nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 66px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #283645;
  -webkit-box-shadow: inset 0px -1px 0 0 #000000;
          box-shadow: inset 0px -1px 0 0 #000000;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s; }
  @media (min-width: 700px) {
    .main-nav__header {
      padding-right: 40px;
      padding-left: 40px; } }

.main-nav__logo-block {
  width: 75px;
  height: 22px; }

.main-nav__logo {
  display: none; }
  .main-nav__logo--mobile {
    display: block; }

.main-nav__burger {
  width: 50px;
  height: 24px;
  font-size: 0;
  -webkit-transition: background-image ease 0.3s;
  transition: background-image ease 0.3s; }

.main-nav--closed .main-nav__burger {
  background: transparent url("../../img/icon-menu-burger.svg") no-repeat 100% 50%; }

.main-nav--opened .main-nav__burger {
  background: transparent url("../../img/icon-menu-cross.svg") no-repeat 100% 0; }

.main-nav__list {
  -webkit-transition: opacity ease 0.5s, max-height ease 0.2s;
  transition: opacity ease 0.5s, max-height ease 0.2s; }

.main-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "os-700";
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  background-color: #283645;
  -webkit-box-shadow: inset 0px -1px 0 0 #000000,  inset 0px 1px 0 0 #485461;
          box-shadow: inset 0px -1px 0 0 #000000,  inset 0px 1px 0 0 #485461;
  text-transform: uppercase;
  -webkit-transition: color ease 0.3s, border-color ease 0.3s;
  transition: color ease 0.3s, border-color ease 0.3s; }
  @media (min-width: 700px) {
    .main-nav__item a {
      padding-right: 40px;
      padding-left: 40px; } }
  .main-nav__item a:hover, .main-nav__item a:focus {
    color: #d22856; }
  .main-nav__item a:active {
    color: #5d354e; }

@media (max-width: 1019px) {
  .main-nav--closed .main-nav__header {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--closed .main-nav__list {
    max-height: 0;
    overflow: hidden;
    opacity: 0; }
  .main-nav--opened .main-nav__list {
    max-height: 1000px;
    opacity: 1; }
  .main-nav--nojs .main-nav__burger {
    display: none; }
  .main-nav--nojs .main-nav__list {
    max-height: 1000px;
    overflow: visible;
    opacity: 1; }
  .main-nav--nojs .main-nav__header {
    background-color: #283645;
    -webkit-box-shadow: inset 0px -1px 0 0 #000000;
            box-shadow: inset 0px -1px 0 0 #000000; } }

@media (min-width: 700px) {
  .main-nav__header {
    min-height: 110px; }
  .main-nav__logo-block {
    width: 147px;
    height: 58px; }
  .main-nav__logo {
    display: none; }
    .main-nav__logo--tablet {
      display: block; } }

@media (min-width: 1020px) {
  .main-nav {
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3); }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 26px;
    padding-right: 20px;
    padding-left: 20px; } }
  @media (min-width: 1020px) and (min-width: 700px) {
    .main-nav__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) and (min-width: 1020px) {
    .main-nav__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

@media (min-width: 1020px) {
  .main-nav__burger {
    display: none; }
  .main-nav__header {
    display: block;
    min-height: 0;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 21px; }
  .main-nav__logo-block {
    margin-right: 100px; }
  .main-nav__logo {
    display: none; }
    .main-nav__logo--desktop {
      display: block; }
    .main-nav__logo path {
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .main-nav__logo:hover path, .main-nav__logo:focus path {
      fill: #d22856; }
    .main-nav__logo:active path {
      fill: #ffffff;
      opacity: 0.3; }
  .main-nav__item {
    margin-right: 83px;
    margin-bottom: 12px; }
    .main-nav__item:last-child {
      margin-right: 0; }
  .main-nav__item a {
    display: block;
    min-height: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: "os-400";
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    background: 0;
    border-bottom: 2px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .main-nav__item a:hover, .main-nav__item a:focus {
      color: #d22856; }
    .main-nav__item a:active {
      color: rgba(255, 255, 255, 0.3); }
  .main-nav__item--active a {
    border-color: #fff; }
    .main-nav__item--active a:hover, .main-nav__item--active a:focus {
      border-color: #d22856; }
    .main-nav__item--active a:active {
      border-color: rgba(255, 255, 255, 0.3); } }

.downloads {
  padding-top: 28px;
  padding-bottom: 35px; }

.downloads__main-link {
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px; }

.downloads__os-links {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px; }

.downloads__text {
  max-width: 230px;
  margin: 0 auto;
  font-family: "os-300";
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center; }

@media (min-width: 700px) {
  .downloads__main-link {
    max-width: 300px;
    margin-bottom: 46px; }
  .downloads__os-links {
    max-width: 1000px;
    margin-bottom: 41px; }
  .downloads__text {
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px; } }

@media (min-width: 1020px) {
  .downloads__main-link {
    margin-bottom: 67px; }
  .downloads__os-links {
    margin-bottom: 60px; } }

.os-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 38px;
  padding-left: 38px; }

.os-links__item {
  margin-right: 34px; }

.os-links__item a {
  display: block;
  font-size: 0; }

.os-links__item--apple a {
  width: 47px;
  height: 56px;
  background: url("../../img/logo-apple.svg") no-repeat 50% 50%; }

.os-links__item--android a {
  width: 43px;
  height: 56px;
  background: url("../../img/logo-android.svg") no-repeat 50% 50%; }

.os-links__item--windows a {
  width: 44px;
  height: 56px;
  background: url("../../img/logo-microsoft.svg") no-repeat 50% 50%; }

.os-links__item:last-child {
  margin-right: 0; }

@media (min-width: 700px) {
  .os-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.features__intro-wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .features__intro-wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .features__intro-wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.features__list-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 55px;
  padding-bottom: 325px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 43px); }
  @media (min-width: 700px) {
    .features__list-wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .features__list-wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.features__slope-wrapper {
  position: relative;
  padding-top: 32px;
  background-color: #f2f2f2; }
  .features__slope-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    min-width: 320px;
    height: 0;
    border-bottom: 32px solid #f2f2f2;
    border-left: 100vw solid #fff; }
  @media (min-width: 700px) {
    .features__slope-wrapper {
      padding-top: 54px; }
      .features__slope-wrapper::before {
        border-bottom-width: 54px; } }
  @media (min-width: 1020px) {
    .features__slope-wrapper {
      padding-top: 95px; }
      .features__slope-wrapper::before {
        border-bottom-width: 95px; } }

.features__intro {
  padding-top: 46px;
  padding-bottom: 38px;
  background-color: #fff; }

.features__intro-text {
  margin-right: auto;
  margin-left: auto;
  font-family: "os-300";
  font-size: 24px;
  color: #283645;
  text-align: center; }
  .features__intro-text--question {
    margin-bottom: 30px; }
  .features__intro-text--answer {
    max-width: 300px; }

.features__item {
  margin-bottom: 40px; }
  .features__item:last-child {
    margin-bottom: 0; }

.features__title {
  max-width: 460px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: "os-700";
  font-size: 18px;
  line-height: 24px;
  text-align: center; }

.features__description {
  max-width: 460px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center; }

.features__research {
  display: none; }

@media (min-width: 700px) {
  .features__intro {
    padding-top: 58px;
    padding-bottom: 55px; }
  .features__intro-text {
    font-size: 40px; }
    .features__intro-text--question {
      margin-bottom: 0; }
    .features__intro-text--answer {
      max-width: 550px; }
  .features__list-wrapper {
    position: relative;
    margin-top: -48px;
    padding-top: 75px;
    padding-bottom: 45px;
    min-height: 482px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: calc(25% - 67px) 100%; }
  .features__item {
    width: 50%;
    margin-left: 50%; }
  .features__title {
    max-width: 390px;
    margin-right: 0;
    margin-left: 0;
    text-align: left; }
  .features__description {
    max-width: 390px;
    margin-right: 0;
    margin-left: 0;
    text-align: left; }
  .features__research {
    display: block;
    padding-top: 59px;
    padding-bottom: 59px;
    background-color: #fff; }
  .features__research-wrapper {
    padding-right: 20px;
    padding-left: 20px;
    min-height: 276px;
    padding-top: 40px;
    background-image: url("../../img/icon-timer.svg");
    background-size: auto 276px;
    background-repeat: no-repeat;
    background-position: calc(25% - 75px) 0; } }
  @media (min-width: 700px) and (min-width: 700px) {
    .features__research-wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 700px) and (min-width: 1020px) {
    .features__research-wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

@media (min-width: 700px) {
  .features__research-title {
    width: 50%;
    max-width: 390px;
    margin-left: 50%;
    margin-bottom: 10px;
    font-family: "os-700";
    font-size: 30px;
    line-height: 36px; }
  .features__research-description {
    width: 50%;
    max-width: 390px;
    margin-left: 50%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #283645; }
  .features__research-link {
    display: block;
    width: 50%;
    max-width: 390px;
    margin-left: 50%;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration: underline; } }

@media (min-width: 1020px) {
  .features__intro {
    padding-top: 78px;
    padding-bottom: 80px; }
  .features__intro-text {
    font-size: 50px; }
  .features__list-wrapper {
    min-height: 570px;
    padding-top: 0;
    margin-top: -95px;
    background-image: none; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .features__item {
    position: relative;
    width: 300px;
    margin-right: 20px;
    margin-left: 0;
    padding-top: 358px;
    padding-right: 30px;
    padding-left: 30px; }
    .features__item:last-child {
      margin-right: 0; }
    .features__item::before {
      position: absolute;
      content: '';
      width: 300px;
      height: 304px;
      top: 0;
      left: 0; }
    .features__item:nth-child(1)::before {
      background: url("../../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 0%; }
    .features__item:nth-child(2)::before {
      background: url("../../img/iphone-screen-2-desktop@1x.png") no-repeat 50% 0%; }
    .features__item:nth-child(3)::before {
      background: url("../../img/iphone-screen-3-desktop@1x.png") no-repeat 50% 0%; }
  .features__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center; }
  .features__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center; }
  .features__research {
    padding-top: 29px;
    padding-bottom: 67px;
    background-color: #f2f2f2; }
  .features__research-wrapper {
    min-height: 345px;
    padding-top: 95px;
    background-size: auto 345px;
    background-position: 40px 0; }
  .features__research-title {
    width: 570px;
    max-width: none;
    margin-left: auto;
    margin-bottom: 25px;
    max-width: none;
    line-height: 30px; }
    .features__research-title br {
      display: none; }
  .features__research-description {
    width: 570px;
    max-width: none;
    margin-left: auto;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px; }
  .features__research-link {
    width: 570px;
    max-width: none;
    margin-left: auto;
    font-size: 18px;
    line-height: 30px; } }

.reviews {
  padding-top: 40px;
  padding-bottom: 20px; }

.reviews__wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .reviews__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .reviews__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.reviews__author-name {
  display: block;
  margin-bottom: 15px;
  font-family: "os-700";
  font-size: 18px;
  line-height: 30px;
  text-align: center; }

.reviews__author-info {
  display: none; }

.reviews__message {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center; }

@media (min-width: 700px) {
  .reviews__author-name {
    margin-bottom: 0;
    font-size: 20px; }
  .reviews__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center; }
  .reviews__message {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 700px;
    margin-bottom: 35px;
    font-size: 18px; } }

@media (min-width: 1020px) {
  .reviews {
    padding-top: 72px;
    padding-bottom: 30px; }
  .reviews__author-name {
    font-size: 24px; }
  .reviews__author-info {
    font-size: 18px; }
  .reviews__message {
    position: relative;
    max-width: none;
    padding-top: 120px;
    padding-right: 100px;
    padding-left: 100px; }
    .reviews__message::before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;
      content: "";
      width: 79px;
      height: 64px;
      background: url("../../img/icon-quotes.svg") no-repeat; } }

.price__slope-wrapper {
  position: relative;
  padding-top: 32px;
  background-color: #f2f2f2; }
  .price__slope-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    min-width: 320px;
    height: 0;
    border-bottom: 32px solid #f2f2f2;
    border-left: 100vw solid #fff; }
  @media (min-width: 700px) {
    .price__slope-wrapper {
      padding-top: 54px; }
      .price__slope-wrapper::before {
        border-bottom-width: 54px; } }
  @media (min-width: 1020px) {
    .price__slope-wrapper {
      padding-top: 95px; }
      .price__slope-wrapper::before {
        border-bottom-width: 95px; } }

.price__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  padding-bottom: 99px;
  overflow: hidden; }

.price__table {
  border-collapse: collapse;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

.price__header {
  position: relative;
  min-width: 87.5vw;
  max-width: 87.5vw;
  height: 98px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  overflow: hidden; }
  .price__header--empty {
    display: none;
    background-color: transparent;
    border: none; }
  .price__header--hit {
    z-index: 10; }
  .price__header--hit::before {
    position: absolute;
    content: "ХИТ";
    width: 102px;
    height: 29px;
    padding-top: 4px;
    top: 9px;
    left: -27px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background-color: #d22856;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.price__title {
  font-family: "os-700";
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.price__ammount {
  font-family: "os-300";
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

.price__data-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.price__data {
  height: 61px;
  padding-left: 2.6%;
  padding-right: 2.2%;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-top: none; }
  .price__data--option {
    display: none; }

.price__option {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase; }

.price__value {
  width: 31px;
  height: 26px;
  font-size: 0; }
  .price__value--yes {
    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 31px auto; }
  .price__value--no {
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 27px auto; }

@media (max-width: 699px) {
  .price__input[id="price-input-1"]:checked ~ .price__table {
    -webkit-transform: translateX(33.3%);
            transform: translateX(33.3%); }
  .price__input[id="price-input-2"]:checked ~ .price__table {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .price__input[id="price-input-3"]:checked ~ .price__table {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%); } }

.price__toggles {
  position: absolute;
  bottom: 42px;
  left: calc(50% - 33px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.price__toggle {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0;
  cursor: pointer; }
  .price__toggle::before {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    z-index: 2;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    -webkit-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s; }
  .price__toggle:hover::before, .price__toggle:focus::before {
    background-color: #7e868f; }
  .price__toggle::after {
    position: absolute;
    content: "";
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    background-color: #283645;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s; }

.price__input[id="price-input-1"]:checked ~ .price__toggles .price__toggle[for="price-input-1"]::before,
.price__input[id="price-input-2"]:checked ~ .price__toggles .price__toggle[for="price-input-2"]::before,
.price__input[id="price-input-3"]:checked ~ .price__toggles .price__toggle[for="price-input-3"]::before {
  background-color: #fff; }

.price__input[id="price-input-1"]:checked ~ .price__toggles .price__toggle[for="price-input-1"]::after,
.price__input[id="price-input-2"]:checked ~ .price__toggles .price__toggle[for="price-input-2"]::after,
.price__input[id="price-input-3"]:checked ~ .price__toggles .price__toggle[for="price-input-3"]::after {
  opacity: 1; }

@media (min-width: 700px) {
  .price__wrapper {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 35px;
    padding-bottom: 68px; } }
  @media (min-width: 700px) and (min-width: 700px) {
    .price__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 700px) and (min-width: 1020px) {
    .price__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

@media (min-width: 700px) {
  .price__toggles {
    display: none; }
  .price__table {
    width: 100%; }
  .price__option {
    display: none; }
  .price__header {
    width: 25%;
    min-width: 0;
    max-width: none;
    height: 79px;
    padding-right: 25px;
    padding-left: 40px; }
    .price__header--empty {
      display: table-cell; }
  .price__title {
    font-size: 16px; }
  .price__ammount {
    font-size: 18px; }
  .price__data {
    height: 47px;
    padding: 0; }
    .price__data--option {
      display: table-cell;
      padding-right: 15px;
      padding-left: 15px;
      font-size: 14px;
      line-height: 30px;
      color: #283645;
      border-top: 2px solid #e5e5e5; }
  .price__value {
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1020px) {
  .price__wrapper {
    padding-top: 67px;
    padding-bottom: 95px; }
  .price__input {
    display: none; }
  .price__title {
    font-size: 18px; }
  .price__ammount {
    font-size: 24px; }
  .price__header {
    height: 94px;
    padding-right: 35px;
    padding-left: 35px; }
  .price__data {
    height: 61px; }
    .price__data--option {
      padding-right: 24px;
      padding-left: 24px;
      font-size: 18px; } }

.contacts {
  padding-top: 50px; }

.contacts__wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .contacts__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .contacts__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.contacts__intro {
  margin-bottom: 40px;
  font-family: "os-300";
  font-size: 24px;
  text-align: center; }

.contacts__list {
  margin-bottom: 40px; }

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }
  .contacts__item:last-child {
    margin-bottom: 0; }

.contacts__title {
  margin-bottom: 5px;
  font-family: "os-700";
  font-size: 18px;
  text-align: center; }

.contacts__description {
  font-family: "os-300";
  font-size: 24px;
  color: #d22856;
  text-align: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom ease 0.3s, color ease 0.3s;
  transition: border-bottom ease 0.3s, color ease 0.3s; }
  .contacts__description:hover, .contacts__description:focus {
    color: #283645; }
  .contacts__description--mail:hover, .contacts__description--mail:focus {
    border-color: #283645; }
  .contacts__description:active {
    color: #bec2c7;
    border-color: transparent; }

.contacts__map {
  height: 200px;
  background-image: url("../../img/icon-map-marker.svg"), url("../../img/bg-triangle-white-footer.svg"), url("../../img/bg-map-tablet@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 100px, 50% -1px, 50% 69%;
  background-size: auto, 100%, auto; }

@media (min-width: 700px) {
  .contacts {
    padding-top: 56px; }
  .contacts__intro {
    margin-bottom: 55px;
    font-size: 40px; }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 27px; }
  .contacts__item {
    margin-bottom: 50px; }
    .contacts__item:last-child {
      width: 100%; }
  .contacts__title {
    margin-bottom: 7px; }
  .contacts__map {
    height: 378px;
    background-image: url("../../img/icon-map-marker.svg"), url("../../img/bg-triangle-white-footer.svg"), url("../../img/bg-map-desktop@1x.jpg");
    background-position: 50% 200px, 50% -1px, 50% 57%; } }

@media (min-width: 1020px) {
  .contacts {
    padding-top: 75px; }
  .contacts__intro {
    margin-bottom: 65px;
    font-size: 50px; }
  .contacts__list {
    margin-bottom: 24 px; }
  .contacts__title {
    margin-bottom: 16px; }
  .contacts__item {
    margin-bottom: 0; }
    .contacts__item:last-child {
      width: auto; }
    .contacts__item:nth-child(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
  .contacts__map {
    height: 502px;
    background-image: url("../../img/icon-map-marker.svg"), url("../../img/bg-triangle-white-footer.svg"), url("../../img/bg-map-desktop@1x.jpg");
    background-position: 50% calc(61% +  30px), 50% -1px, 50% 50%;
    background-size: auto, 100%, cover; } }

.page-footer {
  display: none; }

@media (min-width: 700px) {
  .page-footer {
    display: block;
    min-height: 127px;
    padding-top: 36px;
    padding-bottom: 36px; }
  .page-footer__wrapper {
    padding-right: 20px;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
  @media (min-width: 700px) and (min-width: 700px) {
    .page-footer__wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 700px) and (min-width: 1020px) {
    .page-footer__wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

@media (min-width: 700px) {
  .page-footer__logo-block {
    width: 147px;
    height: 60px; }
  .page-footer__logo {
    display: none; }
    .page-footer__logo--tablet {
      display: block; }
  .page-footer__developer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #283645; }
    .page-footer__developer svg {
      margin-left: 15px; } }

@media (min-width: 1020px) {
  .page-footer {
    min-height: 197px;
    padding-top: 70px;
    padding-bottom: 70px; }
  .page-footer__logo {
    display: none; }
    .page-footer__logo--desktop {
      display: block; }
    .page-footer__logo:hover path, .page-footer__logo:focus path {
      fill: #d22856; }
    .page-footer__logo:active path {
      opacity: 0.3; }
    .page-footer__logo path {
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s; }
  .page-footer__developer {
    font-size: 18px; }
    .page-footer__developer:hover path, .page-footer__developer:focus path {
      fill: #000000; }
    .page-footer__developer:active path {
      opacity: 0.3; }
    .page-footer__developer path {
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.social__item {
  margin-right: 12px; }
  .social__item:last-child {
    margin-right: 0; }

.social__item a {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  -webkit-transition: border-color ease 0.3s;
  transition: border-color ease 0.3s; }
  .social__item a::before {
    position: absolute;
    left: -3px;
    top: -3px;
    content: "";
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s; }
  .social__item a:hover, .social__item a:active {
    border-color: #283645; }
  .social__item a:active {
    border-color: #e9ebec; }
    .social__item a:active::before {
      opacity: 0.3; }

.social__item--twitter a::before {
  background-image: url("../../img/icon-twitter.svg"); }

.social__item--facebook a::before {
  background-image: url("../../img/icon-facebook.svg"); }

.social__item--youtube a::before {
  background-image: url("../../img/icon-youtube.svg"); }

.gallery__list-wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .gallery__list-wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .gallery__list-wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.gallery__panorama {
  margin-bottom: 20px; }

.gallery__text {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 18px;
  padding-bottom: 50px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center; }

.gallery__item {
  margin-bottom: 20px; }

@media (min-width: 700px) {
  .gallery__text {
    max-width: 780px;
    padding-top: 100px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-left: 70px;
    font-size: 18px; }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .gallery__item {
    width: 48.3896%;
    margin-right: auto; }
    .gallery__item:nth-child(2n) {
      margin-right: 0; } }

@media (min-width: 1020px) {
  .gallery__text {
    padding-bottom: 92px;
    font-size: 18px; } }

.post img {
  width: 100%;
  height: auto; }

.post__image {
  font-size: 0; }

.post--panorama .post__text-content-wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 700px) {
    .post--panorama .post__text-content-wrapper {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (min-width: 1020px) {
    .post--panorama .post__text-content-wrapper {
      max-width: 1020px;
      margin-right: auto;
      margin-left: auto; } }

.post__author {
  font-family: "os-700";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #283645; }

.post__date {
  font-family: "os-300";
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase; }
  .post__date::before {
    content: "("; }
  .post__date::after {
    content: ")"; }

.post__message {
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.post__text-content {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 17px;
  background-color: #f2f2f2; }
  .post__text-content blockquote {
    margin: 0;
    margin-bottom: 15px; }

.post__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.post__like-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase; }

.post__like-button {
  width: 13px;
  height: 15px;
  margin-right: 25px;
  background: url(../../img/icon-heart.svg) no-repeat 50% 0; }

@media (min-width: 700px) {
  .post__text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .post__likes {
    margin-top: auto; } }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0; }
  .owl-theme .owl-dots .owl-dot span::before {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    z-index: 2;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    -webkit-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s; }
  .owl-theme .owl-dots .owl-dot span:hover::before, .owl-theme .owl-dots .owl-dot span:focus::before {
    background-color: #7e868f; }
  .owl-theme .owl-dots .owl-dot span::after {
    position: absolute;
    content: "";
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    background-color: #283645;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s; }

.owl-theme .owl-dots .owl-dot.active span::before, .owl-theme .owl-dots .owl-dot:active span::before {
  background-color: #fff; }

.owl-theme .owl-dots .owl-dot.active span::after, .owl-theme .owl-dots .owl-dot:active span::after {
  opacity: 1; }

.owl-dot {
  outline: 0; }

.owl-dots {
  margin-top: 40px; }

@media (min-width: 1020px) {
  .owl-nav {
    position: absolute;
    top: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 0; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 22px;
    height: 41px;
    border-radius: 0; }
  .owl-carousel .owl-nav button.owl-prev {
    background-image: url("../../../img/icon-review-arrow-left.svg"); }
  .owl-carousel .owl-nav button.owl-next {
    background-image: url("../../../img/icon-review-arrow-right.svg"); } }

/*# sourceMappingURL=style.css.map */
