.main {
  display: flex;
  
  width: 500px;
  
  background-color: grey;
}

.block1 {
  background-color: teal;
}

.block2 {
  background-color: tomato;
}

.content {
 display: flex;
  flex-direction: column;
}

.top {
  background-color: grey;
}

.bottom {
  background-color: seagreen;
  
  margin-top: auto;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  
  background-color: yellow;
}