@font-face {
	font-family: "os-300";
	src: url("../../fonts/opensanslight.woff2") format("woff2"),
  url("../../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "os-400";
	src: url("../../fonts/opensans.woff2") format("woff2"),
  url("../../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "os-700";
  src: url("../../fonts/opensansbold.woff2") format("woff2"),
  url("../../fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}