html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:active {
	outline: none;
}

a {
  text-decoration: none;

  cursor: pointer;
}

p {
	margin: 0;
}

b {
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
  min-width: 320px;

  font-family: "os-400", Arial, sans-serif;
	color: #000;

	background-color: #fff;

	overflow-x: hidden;
} 

.button {
  display: flex;
  justify-content: center;
	align-items: center;
	padding: 0 10px;

	border: 0;
	
	user-select: none;
  cursor: pointer;
}

.button--round_white {
  min-height: 55px;

  font-family: "os-700";
  font-size: 18px;
  line-height: 49px;
  color: #fff;

  border: solid 3px #fff;
	border-radius: 30px;

	transition: background-color ease 0.3s, color ease 0.3s;

	&:hover, &:focus {
		color: #d22856;

		background-color: #fff;
	}

	&:active {
		color: #f1becc;
	}
}