@mixin paddings() {
  padding-right: 20px;
  padding-left: 20px;

  @media #{$tablet-width} {
    padding-right: 40px;
    padding-left: 40px;
  }
}


@mixin container() {

  padding-right: 20px;
  padding-left: 20px;

  @media #{$tablet-width} {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media #{$desktop-width} {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
}


@mixin gray-block-top-slope() {
  position: relative;
  
  padding-top: 32px;

  background-color: #f2f2f2;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    min-width: 320px;
    height: 0;
    border-bottom: 32px solid #f2f2f2;
    border-left: 100vw solid #fff;
  }

  @media #{$tablet-width} {
    padding-top: 54px;

    &::before {
      border-bottom-width: 54px;   
    }
  }

  @media #{$desktop-width} {
    padding-top: 95px;

    &::before {
      border-bottom-width: 95px;   
    }
  }
}